services:
  postgres_db:
    image: postgres
    restart: unless-stopped
    ports:
      - "5435:5432"
    volumes:
      - postgres_db_data:/var/lib/postgresql/data
    environment:
      POSTGRES_PASSWORD: pass_1234

volumes:
  postgres_db_data: